.container {
    padding-top: 50px;
    /* margin:  ; */
    padding: greenyellow;
    border: 30%;

}

.form-back {
    /* background-image: url("../images/formBackground.jpg"); */
    
    background-size: cover;
    

  }

  .